{% load static %}
<nav id="sidebar" class="sidebar">


    <a href="{% url 'user_profile' %}"><i class="bi bi-person-circle me-2"></i> Profile</a>
    <a href="{% url 'studentdashboard' %}"><i class="bi bi-house-door me-2"></i> Dashboard</a>
    <a href="{% url 'apply_room' %}"><i class="bi bi-journal-plus me-2"></i> Apply for Room</a>
    <a href="{% url 'student_maintenance' %}"><i class="bi bi-tools me-2"></i> Maintenance</a>
    <a href="{% url 'reapplying' %}"><i class="bi bi-arrow-repeat me-2"></i> Reapplying</a>
    <a href="{% url 'complain' %}"><i class="bi bi-exclamation-diamond me-2"></i> Complaint</a>
    

</nav>
  