header {
  margin-left: 0px; /* same width as sidebar */
}

header nav a:hover {
  text-decoration: underline;
  color: #ddd;
}
/* Container inside header */
header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}



/* Title spacing */
.header-left span,
.navbar-brand {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* Navigation links */
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1rem;
}

header nav a:hover {
  text-decoration: underline;
  color: #ddd;
}
