.footer {
    background-color: #1c2331;
    color: white;
    text-align: center;
  }
  
  .footer a:hover {
    text-decoration: underline;
    color: #ddd;
  }
/* Make wrapper take full height */
html, body {
    height: 20%;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height:80vh;
  }
  
  /* Let content take remaining space before footer */
  .content-area {
    flex: 1;
  }
    